structs/src/conf/CFAD08SI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:include schemaLocation="GLOBALSI.xsd"/>
  <xs:include schemaLocation="ARCHINPUTSTRUCT.xsd"/>
  <xs:element name="ROWCFAD08SIG01">
    <xs:complexType>
      <xs:all>
        <xs:element ref="szAddrRsrcAddrAttn" minOccurs="0"/>
        <xs:element ref="szAddrRsrcAddrCity" minOccurs="0"/>
        <xs:element ref="szAddrRsrcAddrStLn1" minOccurs="0"/>
        <xs:element ref="szAddrRsrcAddrStLn2" minOccurs="0"/>
        <xs:element ref="szAddrRsrcAddrZip" minOccurs="0"/>
        <xs:element ref="szCdFacilityCounty" minOccurs="0"/>
        <xs:element ref="szCdRsrcAddrSchDist" minOccurs="0"/>
        <xs:element ref="szCdFacilityState" minOccurs="0"/>
        <xs:element ref="szCdRsrcAddrType" minOccurs="0"/>
        <xs:element ref="ulIdRsrcAddress" minOccurs="0"/>
        <xs:element ref="szNbrRsrcAddrVid" minOccurs="0"/>
        <xs:element ref="szTxtRsrcAddrComments" minOccurs="0"/>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
        <xs:element ref="szCdSysDataActionOutcome" minOccurs="0"/>
        <xs:element name="nbrRsrcAddrLat" type="xs:double"/>
        <xs:element name="nbrRsrcAddrLong" type="xs:double"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG00">
    <xs:complexType>
      <xs:all>
        <xs:element ref="szCdFacilPhoneType" minOccurs="0"/>
        <xs:element ref="ulIdRsrcPhone" minOccurs="0"/>
        <xs:element ref="lNbrFacilPhoneNumber" minOccurs="0"/>
        <xs:element ref="lNbrFacilPhoneExtension" minOccurs="0"/>
        <xs:element ref="szTxtRsrcPhoneComments" minOccurs="0"/>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
        <xs:element ref="szCdSysDataActionOutcome" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG06">
    <xs:complexType>
      <xs:all>
        <xs:element ref="szCdTask" minOccurs="0"/>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
        <xs:element ref="szCdEventStatus" minOccurs="0"/>
        <xs:element ref="szCdEventType" minOccurs="0"/>
        <xs:element ref="dtDtEventOccurred" minOccurs="0"/>
        <xs:element ref="ulIdEvent" minOccurs="0"/>
        <xs:element ref="ulIdStage" minOccurs="0"/>
        <xs:element ref="ulIdPerson" minOccurs="0"/>
        <xs:element ref="szTxtEventDescr" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG05">
    <xs:complexType>
      <xs:all>
        <!--xs:element ref="uNbrRsrcIntChildren" minOccurs="0"/-->
        <xs:element ref="uNbrRsrcIntFeAgeMax" minOccurs="0"/>
        <xs:element ref="uNbrRsrcIntFeAgeMin" minOccurs="0"/>
        <xs:element ref="uNbrRsrcIntMaAgeMax" minOccurs="0"/>
        <xs:element ref="uNbrRsrcIntMaAgeMin" minOccurs="0"/>
        <xs:element ref="cIndRsrcEmergPlace" minOccurs="0"/>
        <xs:element ref="cIndRsrcTransport" minOccurs="0"/>
        <xs:element ref="cIndSpecificChild" minOccurs="0"/>
        <xs:element ref="szTxtRsrcComments" minOccurs="0"/>
        <xs:element ref="uNbrRsrcFMAgeMax" minOccurs="0"/>
        <xs:element ref="uNbrRsrcFMAgeMin" minOccurs="0"/>
        <xs:element ref="uNbrRsrcMlAgeMin" minOccurs="0"/>
        <xs:element ref="uNbrRsrcMlAgeMax" minOccurs="0"/>
        <xs:element ref="txtHmPrgInterest" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="szCdEventStatus_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="szCdEventStatus" minOccurs="0" maxOccurs="2"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="szCdRsrcStatus_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="szCdRsrcStatus" minOccurs="0" maxOccurs="2"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG00_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ROWCFAD08SIG00" minOccurs="0" maxOccurs="15"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG01_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ROWCFAD08SIG01" minOccurs="0" maxOccurs="15"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG02_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ROWCFAD08SIG02" minOccurs="0" maxOccurs="100"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG03_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ROWCFAD08SIG03" minOccurs="0" maxOccurs="25"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HomeRaceSI_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HomeRaceSI" minOccurs="0" maxOccurs="25"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG07_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ROWCFAD08SIG07" minOccurs="0" maxOccurs="50"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CFAD08SI">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ArchInputStruct" minOccurs="0"/>
        <xs:element ref="cSysRsrcCntyChg" minOccurs="0"/>
        <xs:element ref="isApprovalMode" minOccurs="0"/>
        <xs:element ref="dtSysDtGenericSysdate" minOccurs="0"/>
        <xs:element ref="bIndEndDateMod" minOccurs="0"/>
        <xs:element ref="cSysIndRsrcNameChg" minOccurs="0"/>
        <xs:element ref="cSysRsrcStateChg" minOccurs="0"/>
        <xs:element ref="cSysIndRsrcCharChgNoSvc" minOccurs="0"/>
        <xs:element ref="cSysIndRsrcCharChg" minOccurs="0"/>
        <xs:element ref="cSysIndRsrcPrsChg" minOccurs="0"/>
        <xs:element ref="cSysIndCategoryChange" minOccurs="0"/>
        <xs:element ref="cSysIndFosterTypeChange" minOccurs="0"/>
        <xs:element ref="bSysIndAgeChange" minOccurs="0"/>
        <xs:element ref="bIndReview" minOccurs="0"/>
        <xs:element ref="ulIdResource" minOccurs="0"/>
        <xs:element ref="szCdEventStatus_ARRAY" minOccurs="0"/>
        <xs:element ref="szCdRsrcStatus_ARRAY" minOccurs="0"/>
        <xs:element ref="szCdRsrcState" minOccurs="0"/>
        <xs:element ref="szCdRsrcCnty" minOccurs="0"/>
        <xs:element ref="szCdCntrctRegion" minOccurs="0"/>
        <xs:element ref="ulIdCntrctWkr" minOccurs="0"/>
        <xs:element ref="ROWCFAD08SIG00_ARRAY" minOccurs="0"/>
        <xs:element ref="ROWCFAD08SIG01_ARRAY" minOccurs="0"/>
        <xs:element ref="ROWCFAD08SIG02_ARRAY" minOccurs="0"/>
        <xs:element ref="ROWCFAD08SIG03_ARRAY" minOccurs="0"/>
        <xs:element ref="HomeRaceSI_ARRAY" minOccurs="0"/>
        <xs:element ref="ROWCFAD08SIG04" minOccurs="0"/>
        <xs:element ref="ROWCFAD08SIG05" minOccurs="0"/>
        <xs:element ref="ROWCFAD08SIG06" minOccurs="0"/>
        <xs:element ref="ROWCFAD08SIG07_ARRAY" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG04">
    <xs:complexType>
      <xs:all>
        <xs:element ref="szCdRshsCategory" minOccurs="0"/>
        <xs:element ref="szCdRshsEthnicity" minOccurs="0"/>
        <xs:element ref="szCdRshsFaHomeStatus" minOccurs="0"/>
        <xs:element ref="szCdRshsLanguage" minOccurs="0"/>
        <xs:element ref="szCdRshsMaritalStatus" minOccurs="0"/>
        <xs:element ref="szCdRshsRegion" minOccurs="0"/>
        <xs:element ref="szCdRshsReligion" minOccurs="0"/>
        <xs:element ref="szCdRshsRespite" minOccurs="0"/>
        <xs:element ref="szCdRshsSourceInquiry" minOccurs="0"/>
        <xs:element ref="dtDtRshsMarriage" minOccurs="0"/>
        <xs:element ref="cIndRshsCareProv" minOccurs="0"/>
        <xs:element ref="dNbrRshsAnnualIncome" minOccurs="0"/>
        <xs:element ref="szNmRshsResource" minOccurs="0"/>
        <xs:element ref="szNmLegal" minOccurs="0"/>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
        <xs:element ref="szTxtNdfcsCertEntity" minOccurs="0"/>
        <xs:element ref="szCdAdExchangeStatus" minOccurs="0"/>
        <xs:element ref="szCdSchoolDistrict" minOccurs="0"/>
        <xs:element ref="szCdElementary" minOccurs="0"/>
        <xs:element ref="szCdMiddle" minOccurs="0"/>
        <xs:element ref="szCdHigh" minOccurs="0"/>
        <xs:element ref="cIndWaiver" minOccurs="0"/>
        <xs:element ref="cIndCurrHomeStudyExists" minOccurs="0"/>
        <xs:element ref="cIndRshsNonDFCSHome" minOccurs="0"/>
        <xs:element ref="cIndPrevFamilyStudyReq" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG07">
    <xs:complexType>
      <xs:all>
        <xs:element ref="szCdHmApplcntCbx" minOccurs="0"/>
        <xs:element ref="szCdHmApplcntCbxType" minOccurs="0"/>
        <xs:element ref="szCdSysDataActionOutcome" minOccurs="0"/>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG03">
    <xs:complexType>
      <xs:all>
        <xs:element ref="szCdFaHomeIntEthnicity" minOccurs="0"/>
        <xs:element ref="szCdSysDataActionOutcome" minOccurs="0"/>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="HomeRaceSI">
    <xs:complexType>
      <xs:all>
        <xs:element ref="szCdFaHomeIntRace" minOccurs="0"/>
        <xs:element ref="szCdSysDataActionOutcome" minOccurs="0"/>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCFAD08SIG02">
    <xs:complexType>
      <xs:all>
        <xs:element ref="szCdRsrcCharChrctr" minOccurs="0"/>
        <xs:element ref="dtDtRsrcCharDateAdded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>