structs/src/conf/CSUB25SO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:include schemaLocation="GLOBALSO.xsd"/>
  <xs:include schemaLocation="ARCHOUTPUTSTRUCT.xsd"/>
  <xs:element name="szCdPlcmtInfo_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="szCdPlcmtInfo" minOccurs="0" maxOccurs="17"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CSUB25SOG01">
    <xs:complexType>
      <xs:all>
        <xs:element ref="szCdPlcmtInfo_ARRAY" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="CSUB25SOG00">
    <xs:complexType>
      <xs:all>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
        <xs:element ref="szAddrPlcmtCity" minOccurs="0"/>
        <xs:element ref="szAddrPlcmtCnty" minOccurs="0"/>
        <xs:element ref="szAddrPlcmtLn1" minOccurs="0"/>
        <xs:element ref="szAddrPlcmtLn2" minOccurs="0"/>
        <xs:element ref="szAddrPlcmtSt" minOccurs="0"/>
        <xs:element ref="szAddrPlcmtZip" minOccurs="0"/>
        <xs:element ref="szCdPlcmtLivArr" minOccurs="0"/>
        <xs:element ref="szCdPlcmtRemovalRsn" minOccurs="0"/>
        <xs:element ref="szCdPlcmtType" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtCaregvrDiscuss" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtChildDiscuss" minOccurs="0"/>
        <xs:element ref="ulIdCaseMngrCert" minOccurs="0"/>
        <xs:element ref="ulIdSupCert" minOccurs="0"/>
        <xs:element ref="ulIdCaseMngrRsrc" minOccurs="0"/>
        <xs:element ref="ulIdSupRsrc" minOccurs="0"/>
        <xs:element ref="indCaseMngrCert" minOccurs="0"/>
        <xs:element ref="nmCaseMngrCertFullName" minOccurs="0"/>
        <xs:element ref="nmSupCertFullName" minOccurs="0"/>
        <xs:element ref="nmCaseMngrRsrc" minOccurs="0"/>
        <xs:element ref="nmSupRsrc" minOccurs="0"/>
        <xs:element ref="indSupCert" minOccurs="0"/>
        <xs:element ref="dtSupCert" minOccurs="0"/>
        <xs:element ref="dtCaseMngrCert" minOccurs="0"/>
        <xs:element ref="dtLastViewPlcmtLog" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtChildPlan" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtEducLog" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtEnd" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtMeddevHistory" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtParentsNotif" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtPreplaceVisit" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtSchoolRecords" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtStart" minOccurs="0"/>
        <xs:element ref="ulIdPlcmtAdult" minOccurs="0"/>
        <xs:element ref="ulIdPlcmtChild" minOccurs="0"/>
        <xs:element ref="ulIdRsrcAgency" minOccurs="0"/>
        <xs:element ref="ulIdRsrcFacil" minOccurs="0"/>
        <xs:element ref="ulIdContract" minOccurs="0"/>
        <xs:element ref="szCdPlcmtActPlanned" minOccurs="0"/>
        <xs:element ref="szCdPlcmtService" minOccurs="0"/>
        <xs:element ref="cIndPlcmtContCntct" minOccurs="0"/>
        <xs:element ref="cIndPlcmtEducLog" minOccurs="0"/>
        <xs:element ref="cIndPlcmetEmerg" minOccurs="0"/>
        <xs:element ref="cIndPlcmtNoneApply" minOccurs="0"/>
        <xs:element ref="cIndPlcmtSchoolDoc" minOccurs="0"/>
        <xs:element ref="cIndPlcmtWriteHistory" minOccurs="0"/>
        <xs:element ref="szNbrPlcmtPhoneExt" minOccurs="0"/>
        <xs:element ref="szNbrPlcmtTelephone" minOccurs="0"/>
        <xs:element ref="szNmPlcmtAgency" minOccurs="0"/>
        <xs:element ref="szNmPlcmtContact" minOccurs="0"/>
        <xs:element ref="szNmPlcmtFacil" minOccurs="0"/>
        <xs:element ref="szNmPlcmtPersonFull" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtAddrComment" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtDiscussion" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtDocuments" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtRemovalRsn" minOccurs="0"/>
        <xs:element ref="szCdPlcmtActAtt" minOccurs="0"/>
        <xs:element ref="szCdPlcmtContactedBy" minOccurs="0"/>
        <xs:element ref="ulIdContactedBy" minOccurs="0"/>
        <xs:element ref="szCdPlcmtContMethod" minOccurs="0"/>
        <xs:element ref="cIndPlcmtTempType" minOccurs="0"/>
        <xs:element ref="szCdPlcmtTempType" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtTempCmmnts" minOccurs="0"/>
        <xs:element ref="cIndWaiverReqd" minOccurs="0"/>
        <xs:element ref="szCdWaivertype" minOccurs="0"/>
        <xs:element ref="ulIdWaiver" minOccurs="0"/>
        <xs:element ref="dtDtLastDischarged" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtPermDue" minOccurs="0"/>
        <xs:element ref="szCdMatch" minOccurs="0"/>
        <xs:element ref="szCdBrdngCnty" minOccurs="0"/>
        <xs:element ref="cIndTrialHomeVisit" minOccurs="0"/>
        <xs:element ref="dtDtCrtBegin" minOccurs="0"/>
        <xs:element ref="dtDtCrtEnd" minOccurs="0"/>
        <xs:element ref="cIndPlcmtSafe" minOccurs="0"/>
        <xs:element ref="cIndPlcmtRestr" minOccurs="0"/>
        <xs:element ref="cIndPlcmtFamLike" minOccurs="0"/>
        <xs:element ref="cIndPlcmtAppr" minOccurs="0"/>
        <xs:element ref="cIndPlcmtProx" minOccurs="0"/>
        <xs:element ref="cIndPlcmtSchDist" minOccurs="0"/>
        <xs:element ref="cIndPlcmtCasePlan" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtChkList" minOccurs="0"/>
        <xs:element ref="cIndPlcmtTrauma" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtTrauma" minOccurs="0"/>
        <xs:element ref="cIndPlcmtSibling" minOccurs="0"/>
        <xs:element ref="szCdSibRsn" minOccurs="0"/>
        <xs:element ref="nbrSibinCare" minOccurs="0"/>
        <xs:element ref="nbrSibPlaced" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtSibling" minOccurs="0"/>
        <xs:element ref="cIndPlcmtCCFA" minOccurs="0"/>
        <xs:element ref="szCdPlcmtCCFA" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtCCFA" minOccurs="0"/>
        <xs:element ref="cIndPlcmtSpvsn" minOccurs="0"/>
        <xs:element ref="szTxtPlcmtSpvsn" minOccurs="0"/>
        <xs:element ref="dtDtPsychInfo" minOccurs="0"/>
        <xs:element ref="szTxtPsychInfoCont" minOccurs="0"/>
        <xs:element ref="dtDtPsychCPInfo" minOccurs="0"/>
        <xs:element ref="szTxtPsychCPInfoCont" minOccurs="0"/>
        <xs:element ref="dtDtMedInfo" minOccurs="0"/>
        <xs:element ref="szTxtMedInfoCont" minOccurs="0"/>
        <xs:element ref="dtDtMedCPInfo" minOccurs="0"/>
        <xs:element ref="szTxtMedCPInfoCont" minOccurs="0"/>
        <xs:element ref="dtDtEduInfo" minOccurs="0"/>
        <xs:element ref="cIndEduInfoNA" minOccurs="0"/>
        <xs:element ref="szTxtEduInfoCont" minOccurs="0"/>
        <xs:element ref="dtDtEduCPInfo" minOccurs="0"/>
        <xs:element ref="cIndEduCPInfoNA" minOccurs="0"/>
        <xs:element ref="szTxtEduCPInfoCont" minOccurs="0"/>
        <xs:element ref="szTxtCareGvDoc" minOccurs="0"/>
        <xs:element ref="szTxtAddtnlDoc" minOccurs="0"/>
        <xs:element ref="cIndPlcmtChPlacedFr" minOccurs="0"/>
        <xs:element ref="cIndPlcmtChPlacedBy" minOccurs="0"/>
        <xs:element ref="szCdAdoPlaceInfo1" minOccurs="0"/>
        <xs:element ref="szCdAdoPlaceInfo2" minOccurs="0"/>
        <xs:element ref="szCdAdoPlaceInfo3" minOccurs="0"/>
        <xs:element ref="szCdAdoPlaceInfo4" minOccurs="0"/>
        <xs:element ref="szCdChildTransitionCmnts" minOccurs="0"/>
        <xs:element ref="cIndLTFCPlacement" minOccurs="0"/>
        <xs:element ref="dtDtAgreementSigned" minOccurs="0"/>
        <xs:element ref="cIndConnectedAdult" minOccurs="0"/>
        <xs:element ref="ulIdPersonConnected" minOccurs="0"/>

      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCCMN01UIG01">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ulIdPerson" minOccurs="0"/>
        <xs:element ref="szCdScrDataAction" minOccurs="0"/>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCCMN01UIG01_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ROWCCMN01UIG01" minOccurs="0" maxOccurs="30"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROWCCMN01UIG00">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ROWCCMN01UIG01_ARRAY" minOccurs="0"/>
        <xs:element ref="szCdTask" minOccurs="0"/>
        <xs:element ref="tsLastUpdate" minOccurs="0"/>
        <xs:element ref="szCdEventStatus" minOccurs="0"/>
        <xs:element ref="szCdEventType" minOccurs="0"/>
        <xs:element ref="dtDtEventOccurred" minOccurs="0"/>
        <xs:element ref="ulIdEvent" minOccurs="0"/>
        <xs:element ref="ulIdStage" minOccurs="0"/>
        <xs:element ref="ulIdPerson" minOccurs="0"/>
        <xs:element ref="szTxtEventDescr" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="bIndBLOBExistsInDatabase_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bIndBLOBExistsInDatabase" minOccurs="0" maxOccurs="6"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
    <xs:element name="CSUB25SOG02">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ulIdPerson" minOccurs="0"/>
        <xs:element ref="szNmPersonFull" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="CSUB25SOG02_ARRAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CSUB25SOG02" minOccurs="0" maxOccurs="50"/>
      </xs:sequence>
      <xs:attribute ref="ulRowQty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CSUB25SO">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ArchOutputStruct" minOccurs="0"/>
        <xs:element ref="ulIdEvent" minOccurs="0"/>
        <xs:element ref="szCdEventStatus" minOccurs="0"/>
        <xs:element ref="bIndBLOBExistsInDatabase_ARRAY" minOccurs="0"/>
        <xs:element ref="dtWCDDtSystemDate" minOccurs="0"/>
        <xs:element ref="ulIdCase" minOccurs="0"/>
        <xs:element ref="bSysIndGeneric" minOccurs="0"/>
        <xs:element ref="szCdPlocChild" minOccurs="0"/>
        <xs:element ref="CSUB25SOG00" minOccurs="0"/>
        <xs:element ref="CSUB25SOG01" minOccurs="0"/>
        <xs:element ref="ROWCCMN01UIG00" minOccurs="0"/>
        <xs:element ref="cCdRsrcFaHomeType1" minOccurs="0"/>
        <xs:element ref="cCdRsrcFaHomeType2" minOccurs="0"/>
        <xs:element ref="cCdRsrcFaHomeType3" minOccurs="0"/>
        <xs:element ref="cCdRsrcFaHomeType4" minOccurs="0"/>
        <xs:element ref="cCdRsrcFaHomeType5" minOccurs="0"/>
        <xs:element ref="cCdRsrcFaHomeType6" minOccurs="0"/>
        <xs:element ref="cCdRsrcFaHomeType7" minOccurs="0"/>
        <xs:element ref="szCdRsrcCategory" minOccurs="0"/>
        <xs:element ref="cIndRsrcEmergPlace" minOccurs="0"/>
        <xs:element ref="dtDtPlcmtPermEff" minOccurs="0"/>
        <xs:element ref="cIndRsrcStatus" minOccurs="0"/>
        <xs:element ref="CSUB25SOG02_ARRAY" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>